body { 
    font-family: 'Inter', sans-serif; 
    background-color: #f1fef3;
}

.file-input-button {
    background-color: #32a949;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.file-input-button:hover {
    background-color: #49a85c;
}

#file-upload {
    display: none;
}

#logs {
    font-family: 'Consolas', 'Monaco', monospace;
    white-space: pre-line;
}
